{% extends 'base.html' %}
{% load static %}

{% block title %}Strona Główna - Zoo Manager{% endblock %}

{% block content %}
<div class="home-container">
    {% if user.is_authenticated %}
        <h1>Witaj na stronie głównej, {{ user.get_full_name }}!</h1>
        <p>To jest Twoje centrum zarządzania ZOO.</p>
        
        <h2>Menu:</h2>
        <ul>
            <li><a href="{% url 'task_list' %}">Lista zadań</a></li>
            <li><a href="{% url 'enclosure_list' %}">Lista wybiegów</a></li>
            <li><a href="{% url 'animal_list' %}">Lista zwierząt</a></li>
            {% if user.role == 'manager' %}
                <li><a href="{% url 'employee_list' %}">Lista pracowników</a></li>
            {% endif %}
        </ul>
        

    {% else %}
        <h1>Witaj w Zoo Manager!</h1>
        <p>Aby kontynuować, <a href="{% url 'login' %}">zaloguj się</a>.</p>
    {% endif %}
</div>
{% endblock %} 